{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDM Music App</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    {% block page_style %}
    
    {% endblock %}
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo text_style" href="{% url 'home' %}">
                    <span class="logo1">E</span>
                    <span class="logo2">D</span>
                    <span class="logo3">M</span>
                    <span class="logo4">usic</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user" data-fa-transform="grow-6"></i>&#160; {{ user.username }}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile' %}"><i class="fas fa-user-circle" data-fa-transform="grow-6"></i>&#160; Profile</i></a></li>
                            <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt" data-fa-transform="grow-6"></i>&#160; Log Out</a></li>
                            <li><a href="{% url 'inbox' %}"><i class="fas fa-comments" data-fa-transform="grow-6"></i>&#160; Messages</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'register' %}"><i class="fa fa-plus" data-fa-transform="grow-6"></i>&#160; Register</a></li>
                    <li><a href="{% url 'login' %}"><i class="fa fa-sign-out-alt" data-fa-transform="grow-6"></i>&#160; Log In</a></li>
                    {% endif %}
                    <li><a href="{% url 'mainpage' %}"><i class="fas fa-music" data-fa-transform="grow-6"></i>&#160; Your Groove</a></li>
                    <li><a href="{% url 'events' %}"><i class="far fa-compass" data-fa-transform="grow-6"></i>&#160; Locate Music</a></li>
                    <li><a href="{% url 'home' %}"><i class="fas fa-home" data-fa-transform="grow-6"></i>&#160; Home</a></li>
                    <li><a href="{% url 'about' %}"><i class="far fa-question-circle" data-fa-transform="grow-6"></i>&#160; About</a></li>
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <img id="main_rotating_image" class="logo" src="{% static 'media/images/vinyl.png' %}">
            </div>
        </div>
        {% block content %}
        
        {% endblock %}
        <footer>
            <div class="container">
                <p>Made by Code Institute bootcampers</p>
            </div>
        </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </div>
</body>
</html>