{% extends "home/base.html" %}

{% block page_style %}
    <style>
        .row {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display:         flex;
          flex-wrap: wrap;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <h1>Find Your Groove</h1>
        <p>Welcome to 
        <span class="logo1">E</span>
        <span class="logo2">D</span>
        <span class="logo3">M</span>
        <span class="logo4">usic</span>! The point of this page is to help people find some music in their area or to find a new artist or genre for them to enjoy.</p>
    </div>
</div>

<div class="row">
    {% if user.is_authenticated %}
    <div class="card text-center col-xs-12 col-sm-4">
        <div class="card_header">Your Account</div>
        <div class="card_body">
            <div class="row">
                <div class="col-xs-12">
                    <img class="account_image" src="http://via.placeholder.com/200x200">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-6">
                    <p class="card_text">Username:</p>
                </div>
                <div class="col-xs-4 col-sm-6">
                    <p class="card_text">{{ user.username }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 col-sm-6">
                    <p class="card_text">Name:</p>
                </div>
                <div class="col-xs-4 col-sm-6">
                    <p class="card_text">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
            </div>
            <a href="{% url 'profile' %}" class="btn btn-info">My Account</a>
        </div>
    </div>
    <div class="card text-center col-sm-4">
        <div class="card_header">Your Groove</div>
        <div class="card_body">
            <h5 class="card_title">Find A New Genre Or Artists</h5>
            <p class="card_text">Check out a list of genres and their respective artists to find your groove!</p>
            <a href="{% url 'mainpage' %}" class="btn btn-info">Get It On</a>
        </div>
    </div>
    <div class="card text-center col-sm-4">
        <div class="card_header">Locate Music</div>
        <div class="card_body">
            <h5 class="card_title">What Events Are Happening</h5>
            <p class="card_text">See what small music events are happening in the world or your area!</p>
            <a href="{% url 'events' %}" class="btn btn-info">Let's Find Some Music</a>
        </div>
    </div>
    <div class="card text-center col-sm-4 vert_align about_card">
        <div class="card_header">About</div>
        <div class="card_body">
            <p class="card_text">Find Out More About Us!</p>
            <a href="{% url 'about' %}" class="btn btn-info">Take a look at the author!</a>
        </div>
    </div>
    <div class="card text-center col-xs-12 col-sm-8 text-center">
        <div class="card_header">Messages:</div>
        <div class="card_body">
            <h5 class="card_title">You have:</h5>
            <p class="card_text">{{ unread_mail }} Messages</p>
            <a href="{% url 'inbox' %}" class="btn btn-info">View Messages</a>
        </div>
    </div>
    {% else %}
    <div class="card text-center col-xs-12 col-sm-4">
        <div class="card_header">Login Or Register</div>
        <div class="card_body">
            <div class="row">
                <div class="col-xs-12">
                    <a class="card_text btn btn-info" href="{% url 'login' %}">Login</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <a class="card_text btn btn-warning" href="{% url 'register' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center col-sm-4">
        <div class="card_header">Your Groove</div>
        <div class="card_body">
            <h5 class="card_title">Find A New Genre Or Artists</h5>
            <p class="card_text">Check out a list of genres and their respective artists to find your groove!</p>
            <a href="{% url 'mainpage' %}" class="btn btn-info">Get It On</a>
        </div>
    </div>
    <div class="card text-center col-sm-4">
        <div class="card_header">Locate Music</div>
        <div class="card_body">
            <h5 class="card_title">What Events Are Happening</h5>
            <p class="card_text">See what small music events are happening in the world or your area!</p>
            <a href="{% url 'events' %}" class="btn btn-info">Let's Find Some Music</a>
        </div>
    </div>
    <div class="card text-center col-sm-4 vert_align about_card">
        <div class="card_header">About</div>
        <div class="card_body">
            <p class="card_text">Find Out More About Us</p>
            <a href="{% url 'about' %}" class="btn btn-info">Take a look at the author!</a>
        </div>
    </div>
    <div class="card col-xs-12 col-sm-8 text-center">
        <div class="card_header">Messages</div>
        <div class="card_body">
            <h5 class="card_title">See Your Messages Here:</h5>
            <p class="card_text">Login or Register To see Your Messages</p>
        </div>
    </div>
    {% endif %}

    
</div>

<!--BUTTON TESTERS:-->
<!--<a class="btn btn-default">Default</a>-->
<!--<a class="btn btn-primary">Primary</a>-->
<!--<a class="btn btn-secondary">Secondary</a>-->
<!--<a class="btn btn-success">Success</a>-->
<!--<a class="btn btn-info">Info</a>-->
<!--<a class="btn btn-warning">Warning</a>-->
<!--<a class="btn btn-danger">Danger</a>-->
<!--<a class="btn btn-link">Link</a>-->
{% endblock %}