{% extends "home/base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
        <h1>TITLE HERE</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
        quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo consequat.</p>
    </div>
</div>


<div class="row">
    <div class="card text-center col-xs-4">
        <div class="card_header">Your Account</div>
        <div class="card_body">
            <div class="row">
                <div class="col-xs-12">
                    <img class="account_image" src="http://via.placeholder.com/200x200">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="card_text">Username:</p>
                </div>
                <div class="col-xs-6">
                    <p class="card_text">Krontime</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="card_text">Name:</p>
                </div>
                <div class="col-xs-6">
                    <p class="card_text">Krishen Rana</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="card_text">Phone Number:</p>
                </div>
                <div class="col-xs-6">
                    <p class="card_text">720-903-0392</p>
                </div>
            </div>
            <a href="#" class="btn btn-primary">My Account</a>
        </div>
    </div>
    
    
    <div class="card text-center col-xs-8">
        <div class="card_header">Messages</div>
        <div class="card_body">
            <h5 class="card_title">Special title treatment</h5>
            <p class="card_text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card_footer text-muted">2 days ago</div>
    </div>
</div>


<div class="row">
    <div class="card text-center col-xs-6">
        <div class="card_header">New Music</div>
        <div class="card_body">
            <h5 class="card_title">Special title treatment</h5>
            <p class="card_text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card_footer text-muted">2 days ago</div>
    </div>


    <div class="card text-center col-xs-6">
        <div class="card_header">Locate Music</div>
        <div class="card_body">
            <h5 class="card_title">Special title treatment</h5>
            <p class="card_text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card_footer text-muted">2 days ago</div>
    </div>
</div>


<div class="row">
    <div class="card text-center col-xs-12">
        <div class="card_header">About</div>
        <div class="card_body">
            <h5 class="card_title">Special title treatment</h5>
            <p class="card_text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card_footer text-muted">2 days ago</div>
    </div>
</div>

{% endblock %}