{% extends 'home/base.html' %}

{% block content %}

    <div class="row">
        <div class="col-sm-12 card">
            <div class="row">
                <div class="col-sm-6">
                    <h3>{{ event.name }}</h3>
                </div>
                
                <div class="col-sm-6">
                    <h4>{{ event.date }}{{ event.time }}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p>{{ event.description | truncatechars:300 }}</p>
                </div>
            </div>
            <div class="col-sm-8">
                <h5>Admission: {{ event.admission }} {{ event.currency }}</h5>
            </div>
            <div class="col-sm-4 text-right">
                {% if event.people_going >= event.max_people %}
                    <h5>No Avilibility, This Event Is Full</h5>
                {% else %}
                <h5><a class="btn btn-primary btn-xs">Going? </a> People Going: {{ event.people_going }}</h5>
                <h5>Max People: {{ event.max_people }}</h5>
                {% endif %}
                <div clas="col-sm-6">
                    <h5>Address: {{ event.address }}</h5>
                </div>
            </div>
            <div class="col-sm-6">
                <h5>Posed On: {{ event.posttime }}</h5>
            </div>
        </div>
    </div>

{% endblock %}