    body{
        /*padding-top: 75px;*/
        background-color: #1F2833;
    }
    
    div{
        color: #66FCF1;
    }
    
    .row-flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
    
    .muted{
        opacity: 0.6;
    }
    

    /*Navigation Bar*/
    
    a{
        color: #66FCF1;
        text-decoration: none;
    }
    
    .navbar{
        background-image: linear-gradient(#272d33, #1c2228 60%, #10161c);
        background-repeat: no-repeat;
    }
    
    .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
        color: #66FCF1;
        background-image: linear-gradient(#2c333a, #212930 60%, #141c23);
    }
    
    .navbar-default .navbar-nav>li>a {
        color: #66FCF1;
    }
    
    .navbar-default .navbar-brand {
        color: #66FCF1;
    }
    
    .navbar-default .badge {
        background-color: #66FCF1;
        color: #000000;
    }
    
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
        color: #c1fffa;
    }
    
    .navbar-default {
        background-color: #1d212d;
        border-color: #1d212d;
    }
    .btn-primary:hover{
        background-color: #0B0C10;
        border-color: #0B0C10;
        color: #66FCF1;
        border-radius: 0px;
    }
    
    .btn-primary.active.focus, .btn-primary.active:focus, 
    .btn-primary.active:hover, .btn-primary:active.focus, 
    .btn-primary:active:focus, .btn-primary:active:hover, 
    .open>.dropdown-toggle.btn-primary.focus, 
    .open>.dropdown-toggle.btn-primary:focus, 
    .open>.dropdown-toggle.btn-primary:hover {
        background-color: #eee;
        border-color: #eee #eee #ddd;
        border-radius: 0px;
        color: #66FCF1;
    }
    .btn-primary.focus, .btn-primary:focus {
        background-color: #eee;
        border-color: #eee;
        border-radius: 0px;
        color: #66FCF1;
    }

    /*Content*/
    
    p{
        color: #66FCF1;
    }
    
    h1{
        color: #66FCF1;
        text-decoration: underline;
    }
    
    .eventcontent p,
    .eventcontent h4{
        color: #66FCF1;
        
    }
    
    .card{
        box-sizing: border-box;
        border: 4.5px solid #1F2833;
        padding: 10px;
        background-color: #3D5066;
    }
    
    .card_header{
        font-size: 3rem;
    }
    
    .card_title{
        font-size: 1.5rem;
        color: #3E9B95;
    }
    
    .card_image{
        box-sizing: border-box;
        border-radius: 10px;
        width: 75%;
        margin-left: 12.5%;
        margin-bottom: 10px;
        background-color: rgba(0,0,0,0)
    }
    .btn-danger>a{
        color: #66FCF1;
        border-radius: 0px;
        
    }

    .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-8, .col-xs-12{
        color: #66FCF1;
        
    }
    
    .account_image{
        border-radius: 100%;
    }

    .btn-primary{
        background-image: linear-gradient(#EA5B00, #E54600 60%, #B03900);
        border-color: gold;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #000000;
    }
    
    .btn-success{
        background-image: linear-gradient(#EA1E42, #C61E42 60%, #B91E42);
        border-color: pink;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btn-info{
        background-image: linear-gradient(#070BC1, #0A0D9B 60%, #0C0E7F);
        border-color: blue;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btn-secondary{
        background-image: linear-gradient(#3A3A3D, #353538 60%, #1F1F21);
        color: white;
        border-color: #9B9B9B;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .btn-warning{
        background-image: linear-gradient(#D10A0A, #AA0A0A 60%, #A80B0B);
        color: white;
        border-color: red;
        border-radius: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .vert_align{
        vertical-align: middle;
    }
    
    #main_rotating_image {
        width: 100px;
        height: 100px;
        margin-left: 50px;
        margin-top: 4px;
		-webkit-animation: rotation 2s infinite linear;
    }
    
    @-webkit-keyframes rotation {
    		from {
    				-webkit-transform: rotate(0deg);
    		}
    		to {
    				-webkit-transform: rotate(359deg);
    		}
    }