{% extends 'home/base.html' %}
{% block content %}

<div class="row">
    <div class="row">
        <div class="col-sm-12 text-center">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#genres">Genres</a></li>
                <li><a data-toggle="tab" href="#subgenres">Subgenres</a></li>
                <li><a data-toggle="tab" href="#artists">Artists</a></li>
            </ul>
        </div>
    </div>
    
    
    
    <div class="tab-content">
        <div id="genres" class=" tab-pane fade in active">
            {% if request.user.is_staff %}
            <div class="row">
                <a href="{% url 'new_main' %}" class="btn btn-secondary">New Genre</a>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-9">
                {% for genre in genres|dictsort:"name" %}
                <div class="col-sm-6 card" id="{{ genre.name }}">
                    <h2><a  href="{% url 'genre_desc' genre.id %}">{{ genre.name }}</a></h2>
                    <img class="small_card_images" src="{{ MEDIA_URL }}{{ genre.image }}"></img>
                    <p>{{ genre.description | truncatechars:135 }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 sidebar">
                <ul class="nav nav-list affix">
                    {% for genre in genres|dictsort:"name" %}
                        <li><a class="scrollspy_items" href="#{{ genre.name }}">{{ genre.name }}</a></li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
        
        
        
        <div id="subgenres" class="tab-pane fade">
            {% if request.user.is_staff %}
            <div class="row">
                <a href="#" class="btn btn-secondary">New Subgenre</a>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-9">
                {% for sub in subs %}
                <div class="col-sm-4 card" id="{{ sub.subname }}">
                    <h2><a  href="{% url 'subgenre_desc' sub.id %}">{{ sub.subname }}</a></h2>
                    <img class="small_card_images" src="{{ MEDIA_URL }}{{ sub.subimage }}"></img>
                    <p>{{ sub.subdescription | truncatechars:135 }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 sidebar">
                <ul class="nav nav-list affix">
                    {% for sub in subs %}
                        <li><a class="scrollspy_items" href="#{{ sub.subname }}">{{ sub.subname }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        

        <div id="artists" class="tab-pane fade">
            {% if request.user.is_staff %}
            <div class="row">
                <a href="{% url 'new_artist' %}" class="btn btn-secondary">New Artist</a>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-9">
                {% for artist in artists|dictsort:"name" %}
                <div class="col-sm-4 card" id="{{ artist.name }}">
                    <h2><a  href="{% url 'artist_desc' artist.id %}">{{ artist.name }}</a></h2>
                    <img class="small_card_images" src="{{ MEDIA_URL }}{{ artist.image }}"></img>
                    <p>{{ artist.description | truncatechars:125 }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-3 sidebar">
                <ul class="nav nav-list affix">
                    {% for artist in artists|dictsort:"name" %}
                        <li><a class="scrollspy_items" href="#{{ artist.name }}">{{ artist.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
        
    </div>
</div>
{% endblock %}